{% extends "base.html" %}
{% block content %}
<h1>Welcome</h1>
<h2>You can add new real estate  data from this basic panel !</h2>
<div id="General">
<div id="NavEstates">
    <h3>Navigation</h3>
    <a href="/"><div class="Links">General List</div></a>
    <a href="/addestate/"><div class="Links">AddEstates</div></a>
    <a href="/addagent/"><div class="Links">AddAgents</div></a>
</div>
<div id='FormDiv' class="MainNav">
 <form action="" method="POST">
     {% csrf_token %}
     {{ form }}
     <input type="submit" value="Send">
 </form>
 </div>
</div>
{% endblock content %}