{% extends "base.html" %}
{% block content %}
<h1>Welcome</h1>
<h2>You can add new Estate data from this basic panel !</h2>
<div>
 <form action="" class="form-group">
     <input type="text" name="" id="">
     <textarea name="" id="" cols="30" rows="10"></textarea>
     <textarea name="" id="" cols="30" rows="10"></textarea>
     <input type="text" name="" id="">
     <input type="text" name="" id="">
     <input type="text" name="" id="">
     <input type="number" name="" id="">
     <select name="" id="">
         <option value=""></option>
     </select>
 </form>
 </div>
{% endblock content %}