{% extends "base.html" %}
{% block content %}
<h1>Welcome to my small RealEstate App (Django+API included)</h1>
<div id="General">
<div id="NavEstates" class="SubGeneral">
     <h3>Navigation</h3>
     <a href="/addestate/"><div class="Links">AddEstates</div></a>
     <a href="/addagent/"><div class="Links">AddAgents</div></a>
     <div class="Links">
         <a href="/api/estates">API for Estates</a>
        |  
         <a href="/api/agents">API for Agents</a>
     </div>
</div>
<div id="MainList" class="SubGeneral">
    {% block estateItem %}
    {% endblock estateItem %}
</div>
</div>
{% endblock content %}